<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title || 'Dashboard' %></title>

  <!-- Bootstrap CSS -->
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- AdminLTE CSS -->
  <link href="/node_modules/admin-lte/dist/css/adminlte.min.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Bootstrap Js -->
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    /* Custom styles (optional) */
    .content-wrapper {
      margin-top: 20px;
    }
  </style>

</head>

